{% extends 'base.html.twig' %}

{% block title %}Commande Successfully
{% endblock %}
{% block body %}
	<h1>Confirmation de votre commande</h1>
	<p>Vous avez dû reçevoir un mail de confirmation</p>
</form>{% endblock %}
